In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-02-07 02:47:06,73.5069,80.5464,-27.17,87,91,9.69
1,1,Ponta Do Sol,PT,2021-02-07 02:42:14,32.6667,-17.1000,55.00,64,28,8.01
2,2,Nikolskoye,RU,2021-02-07 02:44:53,59.7035,30.7861,10.40,85,75,13.42
3,3,Katsuura,JP,2021-02-07 02:47:06,35.1333,140.3000,59.00,44,0,9.22
4,4,Mataura,NZ,2021-02-07 02:47:06,-46.1927,168.8643,79.74,47,25,3.09

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mataura,NZ,2021-02-07 02:47:06,-46.1927,168.8643,79.74,47,25,3.09
9,9,Faanui,PF,2021-02-07 02:42:18,-16.4833,-151.7500,82.33,69,2,10.85
17,17,Atuona,PF,2021-02-07 02:47:09,-9.8000,-139.0333,79.84,82,96,22.15
21,21,Miguel Alves,BR,2021-02-07 02:47:09,-4.1656,-42.8953,75.18,86,10,3.18
22,22,Methven,NZ,2021-02-07 02:47:10,-43.6333,171.6500,77.00,52,0,1.01
27,27,Mahebourg,MU,2021-02-07 02:47:10,-20.4081,57.7000,75.20,88,40,5.75
31,31,Rikitea,PF,2021-02-07 02:47:11,-23.1203,-134.9692,78.55,70,82,10.76
37,37,San Carlos Del Zulia,VE,2021-02-07 02:47:12,9.0000,-71.9135,76.78,83,100,3.67
39,39,Bathsheba,BB,2021-02-07 02:47:13,13.2167,-59.5167,77.09,79,98,17.98
43,43,Puerto Ayora,EC,2021-02-07 02:42:20,-0.7393,-90.3518,77.00,94,53,6.51

In [14]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
4                Mataura      NZ     79.74 -46.1927  168.8643
9                 Faanui      PF     82.33 -16.4833 -151.7500
17                Atuona      PF     79.84  -9.8000 -139.0333
21          Miguel Alves      BR     75.18  -4.1656  -42.8953
22               Methven      NZ     77.00 -43.6333  171.6500
27             Mahebourg      MU     75.20 -20.4081   57.7000
31               Rikitea      PF     78.55 -23.1203 -134.9692
37  San Carlos Del Zulia      VE     76.78   9.0000  -71.9135
39             Bathsheba      BB     77.09  13.2167  -59.5167
43          Puerto Ayora      EC     77.00  -0.7393  -90.3518

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mataura,NZ,79.74,-46.1927,168.8643,Ellie's Villa
9,Faanui,PF,82.33,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Atuona,PF,79.84,-9.8000,-139.0333,Villa Enata
21,Miguel Alves,BR,75.18,-4.1656,-42.8953,PAIN POUSADA E RESTAURANTE
22,Methven,NZ,77.00,-43.6333,171.6500,Brinkley Resort
27,Mahebourg,MU,75.20,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
31,Rikitea,PF,78.55,-23.1203,-134.9692,Pension Maro'i
37,San Carlos Del Zulia,VE,76.78,9.0000,-71.9135,Hotel El Manantial
39,Bathsheba,BB,77.09,13.2167,-59.5167,Atlantis Hotel
43,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Castillo Galapagos

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))